@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@100;300;400;700;900&family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


img {
  width: 100%;
}

.container {
  padding: 32px 24px;
}



.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.red {
  color: #e50914;
}

.title {
  font-size: 80px;
  font-weight: bold;
  line-height: 110%;
  color: white;
}

h2 {
  color: white;
  font-weight: bold;
  font-size: 36px;
}

h3 {
  color: white;
  font-weight: bold;
  font-size: 28px;
}

#landing {
    width: 100%;
    min-height: 100vh;
  }

/*

HOME PAGE

*/

.home__landing {
    background-image: url(./assets/header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: 100%;
}


/* 

NAVBAR

*/

nav {
  padding: 28px;
  background-color: rgba(0, 0, 0, 0.85);
  
}

.nav__row {
    
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__wrapper {
  width: 300px;
  overflow: hidden;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo {
width: 350px;
transform: translateX(-20px);
}

.nav__links {
}

.nav__link {
  text-decoration: none;
  margin-right: 24px;
  font-size: 32px;
  color: white;
  font-weight: 900;
  letter-spacing: 3px;
  position: relative;
  opacity: 1;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 4px;
  right: 0px;
  width: 0%;
  background-color: red;
  transition: all 300ms ease;
}

.nav__link:hover::after {
  left: 2px;
  width: 93%;
}

.btn__menu {
  background-color: transparent;
  color: white;
  font-size: 50px;
  cursor: pointer;
  border: none;
}

.menu__button--open {
  display: none;
}

.menu__button--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  opacity: inherit;
  transition: all 600ms ease;
}

.menu__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  visibility: hidden;
  z-index: 100;
  opacity: 0;
  transition: all 200ms ease;
  display: flex;
}

.menu__links {
  height: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu__open .menu__backdrop {
  opacity: 1;
  visibility: visible;
}

/*

HEADER

*/

.header__container {
  height: calc(100vh - 175px);
display: flex;
align-items: center;
justify-content: center;
}

.header__content {
  width: 60%;
}

.header__input {
  margin-top: 24px;
  width: 95%;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.search__bar {
  padding: 18px 24px;
  width: 100%;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 300;
  box-shadow: 1px 4px 12px 1px rgba(255, 255, 255, 0.5);
}

.search__bar--submit {
  position: absolute;
  border: none;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px 40px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  background-color: red;
  transition: all 500ms ease;
  
}


.search__bar--submit:hover  {
  color: white;
}

/* 

SEARCH PAGE

*/

.search__landing {
  background: black;
}

/*

SEARCH

*/

.search__title {
  margin-top: 30px;
}

/*

SEARCH RESULTS
Initial Load

*/

.no__search__query {
  border: 1px white solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  padding: 42px;
  text-align: center;
}

.no__search__query--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 350px;
}

/*

SEARCH RESULTS

*/

.search__results {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: white;
  width: 100%;
  justify-content: center;
}

.search__result {
  width: calc(100%/3);
  padding: 24px;
}

.search__result--img--wrapper {
  position: relative;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 460px;
}

.search__result--img {
width: 100%;
height: 100%;
  transition: all 500ms ease;
}

.search__result--img--wrapper:hover .search__result--img {
  transform: scale(1.1);
}

.search__result--img--wrapper:hover .search__result--background {
  opacity: 0.8;
}

.search__result--img--wrapper:hover .search__result--background--info {
  opacity: 1;
}

.search__result--title {
}

.search__result--background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: all 500ms ease;
}

.search__result--background--info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 85%;
  font-size: 20px;
  transition: all 500ms ease;
  font-weight: 300;
  opacity: 0;
  height: 80%;
}

.search__result--description {
  display: inline;
  }

.search__result--description--low {
  font-size: 18px;
  font-weight: 300;
display: none;
}


.search__result--ratings {
  color: orange;
  margin-bottom:12px;
}

/* 

SEARCH RESULTS SKELETON LOADING STATE

*/

.loading__overlay {
position: absolute;
top: 0;
width: 100%;
height: 100%;
display: flex;
background-color: black;
justify-content: center;
align-items: center;
visibility: hidden;
opacity: 0;
}

.fa-spinner {
  font-size: 48px;
  animation: rotate infinite 600ms linear;
}

.loading__overlay--visible .loading__overlay {
  visibility: visible;
  opacity: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}



@media (max-width: 1000px) {
  /* 

  HOME PAGE

  */
    .header__title {
    font-size: 75px;
  }

  .search__result {
    width: 50%
  }

  .search__result--name {
    font-size: 24px;
  }

  .search__result--type {
    font-size: 14px;
  }
}

@media (max-width: 850px) {
  .header__content {
    width: 75%;
  }
  .header__title {
    font-size: 70px;
  }
 
  .menu__button--open {
    display: block;
  }
  .nav__links {
    display: none;
  }
  .search__result--background--info {
    height: 20%;
  }
  .search__result--description {
    display: none;
  }
  .search__result--description--low {
    display: inline;
  }

  @media (max-width: 650px) {
    .header__content {
      max-width: 600px;
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
  
    }

    .header__title {
      font-size: 65px;
    }
    .search__result {
      width: 90%;
      margin-bottom: 16px
    }
    .search__result--title {
      margin-top: 8px;
    }


    .no__search__query {
      padding: 16px
    }
    .no__search__query--title {
      font-size: 28px;
    }
    .no__search__query--wrapper {
      width: 250px;
    }

  }
}